@model CampusLifePlanner.WebUI.ViewModels.LoginViewModel
@using RS = CampusLifePlanner.Infra.IoC.Resources.Common;

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<style>
    .d-flex-center-vh {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88vh;
    }
</style>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5 d-flex-center-vh">
        <div class="col-lg-7 text-center text-lg-start text-center">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">@RS.GENERAL_PAGE_TITLE_PROJECT</h1>
            <p class="col-lg-10 fs-4">@RS.GENERAL_MSG_DESCRIPTION_PROJECT</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form asp-controller="Account" asp-action="Login" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input asp-for="Email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
                    <label for="floatingEmail">Endereço de e-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                    <label for="floatingPassword">Senha</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembrar-me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary rounded-3 mb-2" type="submit">Entrar</button>
                <a asp-controller="Account" asp-action="Register" class="w-100 py-2 mb-2 btn btn-lg btn-outline-primary rounded-3">
                    Registre-se
                </a>
                <hr class="my-4">
                <small class="text-body-secondary">Ao clicar em Inscrever-se, você concorda com os termos de uso.</small>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $('form').on('submit', function () {
            if ($(this).valid()) {
                $(this).find('input').removeClass('is-invalid').addClass('is-valid');
            } else {
                $(this).find('input').each(function () {
                    if ($(this).hasClass('input-validation-error')) {
                        $(this).removeClass('is-valid').addClass('is-invalid');

                        var errorMessage = $(this).attr('data-val-required') || $(this).attr('data-val-email');

                        $(this).siblings('label').text(errorMessage);
                    } else {
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                });
            }
        });
    </script>
}
