@using CampusLifePlanner.Infra.Data.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var appUser = await UserManager.GetUserAsync(User);
}
@{
    var roleUser = await UserManager.GetUsersInRoleAsync("admin");
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var admins = roleUser.Select(a => a.Email).ToList();
        if (admins.Contains(appUser.Email))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountsUserManager" asp-action="Index">Home</a>
            </li>
        }
    }
</ul>