@model IEnumerable<CampusLifePlanner.Application.DTOs.CourseDto>

@{
    ViewData["Title"] = "Course";
}

<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel">Adicionar Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventForm" action="/Course/Create" method="post">
                    <div class="mb-3">
                        <label for="courseName" class="form-label">Curso</label>
                        <input type="text" class="form-control" id="courseName" name="Name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar Curso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="align-items-center row">
            <div class="col-10 d-flex">
                <h5>Course</h5>
            </div>
            <div class="col-2 align-items-center justify-content-center d-flex">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCourseModal">Adicionar curso</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-responsive table-hover">
            <thead>
                <tr class="bg-secondary text-white">
                    <th>Nome do Curso</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#eventForm").submit(function (e) {
                e.preventDefault(); // Impede o envio padrão do formulário

                var formData = $(this).serialize(); // Pega os dados do formulário

                $.post("/Course/Create", formData)
                    .done(function () {
                        // Tratamento se sucesso. Por exemplo:
                        alert("Curso salvo com sucesso!");
                        $("#addCourseModal").modal('hide'); // Fecha a modal
                        location.reload(); // Recarrega a página para ver os novos dados
                    })
                    .fail(function () {
                        // Tratamento se falha. Por exemplo:
                        alert("Erro ao salvar o curso.");
                    });
            });
        });
    </script>
}